<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zenn.demo10item.mapper.ItemMapper">
    <select id="findById" resultType="com.zenn.demo10item.entity.Item">
        SELECT id , item_name FROM demo10item WHERE id  = #{id}
    </select>
    <select id="findAll" resultType="com.zenn.demo10item.entity.Item">
        SELECT id , item_name FROM demo10item ORDER BY id
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO demo10item (item_name) VALUES (#{itemName})
    </insert>
    <update id="update">
        UPDATE demo10item
        SET item_name = #{itemName}
        WHERE
            id = #{id}
    </update>
    <delete id="delete">
        DELETE FROM demo10item WHERE id = #{id}
    </delete>
</mapper>